<div class="p-5">
    <div class="field">
        <label class="label">Usuário</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success"
           type="text"
           placeholder="Usuário" 
           >
          <span class="icon is-small is-left">
            <i class="fa fa-solid fa-key"></i>
          </span>
        </div>
      </div>
      <div class="mb-5 field">
        <label class="label">Senha</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-info"
           type="password"
           placeholder="Senha" 
           >
          <span class="icon is-small is-left">
            <i class="fa fa-solid fa-user"></i>
          </span>
        </div>
      </div>
    
      <button 
        class="mt-6 button is-large is-info is-fullwidth is-active"
      >
        Logar
      </button>
</div>